# Backend virtual environment
backend/.venv/

# Python cache
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/**/__pycache__/
backend/backend.egg-info/
backend/.env
backend/.mypy_cache/
backend/.env.*