# Backend virtual environment
backend/.venv/

# Python cache
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/**/__pycache__/
backend/backend.egg-info/
backend/.env
backend/.mypy_cache/
backend/.env.*
backend/datasets
# Infra deploy secrets/state
infra/.env
frontend/node_modules/
infra/certbot-data/
frontend/dist/
graphify-out